<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Create a new Post')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form th:action="@{/posts/create}" th:method="post" th:object="${newPost}">
        Title:
        <input th:field="*{title}" />
        <br />
        Description:
        <input style="width: 30%" th:field="*{body}" type="text"/>
        <br />
        <input type="submit" />
    </form>

</main>

</body>
</html>