
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Edit a Post')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="POST" th:object="${post}">
        Title:
        <input th:field="*{title}"/>
        <br />
        Description:
        <textarea th:field="*{body}" class="form-control" rows="3"></textarea>
        <br />
        <input type="hidden" th:field="*{id}" />
        <button class="btn btn-large btn-success">Edit Post</button>
    </form>

    <form th:action="@{/posts/delete}" th:method="post" th:object="${post}">
        <input type="hidden" th:field="*{id}" />
        <button id="delete">Delete</button>
    </form>

</main>

</body>
</html>