
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Edit a Post')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}"/>
        <br />
        Description:
        <input th:field="*{body}"/>
        <br />
        <input type="hidden" th:field="*{id}" />
        <input type="submit" />
    </form>

    <form th:action="@{/posts/delete}" th:method="post" th:object="${post}">
        <input type="hidden" th:field="*{id}" />
        <button id="delete">Delete</button>
    </form>

</main>

</body>
</html>