
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Edit a Post')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <form action="@{/posts/create}" th:method="post" th:object="${Post}">
        Title:
        <input th:field="*{title}" th:value="${title}"/>
        <br />
        Description:
        <input th:field="*{description}" th:value="${description}"/>
        <br />
        <input type="hidden" th:field="*{id}" th:value="${id}" />
        <input type="submit" />
    </form>

</main>

</body>
</html>