<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: header('B\'s Blog')"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">
<h1>Welcome, let's blog!</h1>
<br/>

<!--<div th:if="${name}">-->
    <!--<h3>Welcome, <span th:text="${name}"></span></h3>-->
<!--</div>-->


<!--<div th:if="${users}">-->
    <!--<div th:each="user : ${users}">-->
        <!--<h2></h2>-->
        <!--<h3>Welcome <span th:text="${user}"></span></h3>-->
    <!--</div>-->
<!--</div>-->


<!--<div th:include="partials/footer :: footer"></div>-->

<!--<div th:replace="partials/footer :: footer"></div>-->
</main>



</body>
</html>